<form method="post" action="{{ path('credit_card_delete', {'id': creditCard['id']}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir cette carte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ creditCard['id']) }}">
    <button class="btn btn-link"><i class="fa-regular fa-trash-can text-danger"></i></button>
</form>
