{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1 class="text-start">Modifier une catégorie</h1>
    </div>
    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('category') }}
{% endblock %}