{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
<section>
    <div class="container py-2">
        <div class="pagetitle">
            <h1 class="text-start">
                {% if admin is defined %}
                    Les catégories
                {% else %}
                    Mes catégories
                {% endif %}
            </h1>
        </div>
        <div class="row justify-content-center">
            {% set count = 0 %}
            {% for category in categories %}
                {% include 'components/card/card_index.html.twig' with {'entity': category, 'type': 'category'} %}
                {% set count = count + 1 %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
