{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
<section>
    <div class="container py-2">
        <div class="pagetitle">
            <h1 class="text-start">Mes catégories</h1>
        </div>
        <div class="row justify-content-center">
            {% for category in categories %}
                {% include 'components/card/card_index.html.twig' with {'entity': category, 'type': 'category'} %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
