{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
<section>
    <div class="container py-2">
        <div class="pagetitle">
            <h1 class="text-start">
                {% if admin is defined %}
                    Les catégories
                {% else %}
                    Mes catégories
                {% endif %}
            </h1>
        </div>
        <div class="row justify-content-center">
            {% if categories|length > 0 %}
                {% set count = 0 %}
                {% for category in categories %}
                    {% include 'components/card/card_index.html.twig' with {'entity': category, 'type': 'category'} %}
                    {% set count = count + 1 %}
                {% endfor %}
            {% else %}
                {{ include('components/no_result/no_result.html.twig') }}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
