{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1 class="text-start">Nouvelle catégorie</h1>
    </div>
    {{ include('category/_form.html.twig') }}

{% endblock %}
