{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<section>
  <div class="container py-2">
    <div class="pagetitle mb-4">
        <h1 class="text-start">Ma catégorie</h1>
    </div>
    <div class="row my-4">
      {% include 'components/card/card.html.twig' with {
        'title': category.name,
        'icon': "fa-solid fa-sitemap fa-lg",
        'type': 'category',
        'entity': category,
        'path': 'category_show',
        'param': category.id,
      } %}
      {% include 'category/bottleModal.html.twig' with {'form': form} %}
      {% include 'components/filter_bar/filter_bar.html.twig' with {'filterForm': filterForm} %}
    </div>
    <div class="row">
      {% if bottles|length > 0 %}
        {% for bottle in bottles %}
          {% include 'components/bottle/bottle.html.twig' %}
        {% endfor %}
      {% else %}
        {{ include('components/no_result/no_result.html.twig') }}
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
