{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Plus d'info"  }}{% endblock %}

{% block body %}
    {% if data %}
        <div class="container">
            <div class="row d-flex justify-content-center">
                {{ include('components/card/card_wiki.html.twig') }}
            </div>
        </div>
    {% else %}
        {% include 'components/no_result/no_result.html.twig' %}
    {% endif %}
{% endblock %}
