<form method="post" action="{{ path('bottle_delete', {'id': bottle.id, 'admin': isAdmin}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette bouteille ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bottle.id) }}">
    <button class="btn btn-link text-danger" name="delete-bottle"><i class="fa-solid fa-trash-can fa-xl"></i></button>
</form>
