{% extends 'base.html.twig' %}

{% block title %}Bottle index{% endblock %}

{% block body %}
<section>
    <div class="text-center container py-2">
        <div class="pagetitle mb-4">
            <h1 class="text-start">
                {% if admin is defined %}
                    Les bouteilles
                {% else %}
                    Mes bouteilles
                {% endif %}
            </h1>
        </div>
        <div class="row">
            {% include 'components/card/card.html.twig' with {
                'icon': "fa-solid fa-wine-bottle fa-lg",
                'path': 'bottle_index',
                'param': null,
            } %}
            {% include 'components/filter_bar/filter_bar.html.twig' with {'filterForm': filterForm} %}
        </div>
        <div class="row">
            {% if bottles|length > 0 %}
                {% set count = 0 %}
                {% for bottle in bottles %}
                    {% include 'components/bottle/bottle.html.twig' with {'categories': true, 'update': true} %}
                    {% set count = count + 1 %}
                {% endfor %}
            {% else %}
                {{ include('components/no_result/no_result.html.twig') }}
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                {{ knp_pagination_render(bottles) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
