<form method="post" action="{{ path('subscription_delete', {'id': subscription.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet abonnement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subscription.id) }}">
    <button class="btn btn-link text-danger"><i class="fa-solid fa-trash-can fa-xl"></i></button>
</form>
