<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit='return confirm("Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.");'>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger w-100"><i class="fa-solid fa-ban me-3"></i>Supprimer mon compte</button>
</form>
