{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="pagetitle mb-4">
        <h1 class="text-start">Modifier mon profil</h1>
    </div>
    {{ include('registration/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('register') }}
{% endblock %}