{% if admin is not defined %}
    {% set isAdmin = false %}
{% else %}
    {% set isAdmin = admin %}
{% endif %}
<form method="post" action="{{ path('cellar_delete', {'id': cellar.id, 'admin': isAdmin}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette cave ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cellar.id) }}">
    <button class="btn btn-link"><i class="fa-regular fa-trash-can fa-2x text-danger"></i></button>
</form>
