{% extends 'base.html.twig' %}

{% block title %}New Cellar{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1 class="text-start">Créer une cave</h1>
    </div>
    {{ include('cellar/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cellar') }}
{% endblock %}
