{% extends 'base.html.twig' %}

{% block title %}New Cellar{% endblock %}

{% block body %}
    {# <h1>Create new Cellar</h1>

    {{ include('cellar/_form.html.twig') }}

    <a href="{{ path('cellar_index') }}">back to list</a> #}
    {{ include('cellar/_form.html.twig') }}

{% endblock %}
