{% extends 'base.html.twig' %}

{% block title %}Cellar{% endblock %}

{% block body %}
<section>
  <div class="container pt-2 pb-5">
    <div class="pagetitle mb-4">
        <h1 class="text-start">Ma cave</h1>
    </div>
    <div class="row my-4">
      {% include 'components/card/card.html.twig' with {
        'title': cellar.name,
        'icon': "fa-solid fa-boxes-stacked fa-lg",
        'type': 'cellar',
        'entity': cellar,
        'path': 'cellar_show',
        'param': cellar.id,
      } %}
      {% include 'cellar/bottleModal.html.twig' with {'form': form} %}
      {% include 'components/filter_bar/filter_bar.html.twig' with {'filterForm': filterForm, 'formCategory': true} %}
    </div>
    <div class="row">
      {% if bottles|length > 0 %}
        {% for bottle in bottles %}
          {% include 'components/bottle/bottle.html.twig' with {'categories': true} %}
        {% endfor %}
      {% else %}
        {{ include('components/no_result/no_result.html.twig') }}
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('bottle') }}
{% endblock %}