{% extends 'base.html.twig' %}

{% block title %}Edit Address
{% endblock %}

{% block body %}
	<section>
		<div class="container py-3 h-100">
			<div class="pagetitle mb-4">
				<h1 class="text-start">Modifier une adresse</h1>
			</div>
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col col-lg-8 mb-4 mb-lg-0">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-md-4 gradient-custom text-center text-white">
								<img src={{ asset('images/address.png') }} alt="Maison" class="img-fluid my-5 w-75"/>
							</div>
							<div class="col-md-8">
								<div class="card-body p-4 h-100 d-flex flex-column justify-content-center">
									{% include 'address/_form.html.twig' %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
