<div class="col-md-8 col-lg-5 col-xl-4 py-3">
    <div class="card text-black shadow">
        <div class="card-body">
            <div class="text-center d-flex justify-content-center align-items-end
                {% if type == 'cellar' %}
                    bg-cellar-name
                {% else %}
                    bg-category-name
                {% endif %}
                ">
                <h5 class="bg-wine text-light rounded py-1 px-4 m-0">{{ entity.name }}</h5>
            </div>
            <div class="mt-5">
                <div class="d-flex justify-content-between text-muted">
                    <span>Créée le</span><span>{{ entity.createdAt | date('d/m/Y') }}</span>
                </div>
                <div class="d-flex justify-content-between text-muted">
                    <span>Nombre de bouteilles</span><span>{{ entity.bottles | length }}</span>
                </div>
            </div>
            <div class="w-100 d-flex justify-content-center mt-3">
                <a href={{ path(type ~ '_show', {'id': entity.id}) }} class="btn btn-purple w-50"><i class="fa-regular fa-eye fa-lg"></i></a>
            </div>
        </div>
    </div>
</div>